<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
<testsuites>
    <testsuite name="Tests Sorting Photos By Date">
        <directory suffix="Test.php">./tests/src</directory>
    </testsuite>
</testsuites>
<filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">./src</directory>
    </whitelist>
</filter>
    <php>
        <env name="DIRECTORY_OF_TEST_FILES" value="./tests/files"/>
    </php>
</phpunit>